	<div class="container-fluid" *ngIf="arena$ | async ; let arena;">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div id="pgui-view-grid">
						<div class="page-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Participants</a>
								</li>
								<li class="dropdown">
									<a>Arenas</a> <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a>Players</a>
										</li>
										<li>
											<a>Teams</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">{{ arena?.arenaTitle }}</li>
							</ol>
							<h1>{{ arena?.arenaTitle }}</h1>
						</div>
						<div class="form-horizontal" *ngIf="typeView !== '/menu/arenas/add' &&  !this.typeView.includes('menu/arenas/edit/') ; else addEdit">					
							<div class="row">
								<div class="col-md-12 js-message-container"></div>
								<div class="clearfix"></div>
								<div class="form-horizontal col-lg-8">
									<div class="row">
										<fieldset class="col-md-12 form-static form-horizontal" >
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="caption">Arena title</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static">
														<a target="">{{ arena?.arenaTitle }}</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="capacity">Capacity</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static">
														{{ arena?.Capacity }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="about">About</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static" [innerHTML]="arena?.About | noSanitize"></div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="logo">Logo</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static">
														<a class="image gallery-item" data-name="logo" href="{{ arena?.Logo }}" title="{{ arena?.arenaTitle }}">
                                                            <img alt="{{ arena?.arenaTitle }}" data-image-column="true" src="{{ arena?.Logo }}" style="width: 100px"></a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="photo">Photo</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static">
														<a class="image gallery-item" data-name="photo" href="{{ arena?.Photo}}" title="{{ arena?.arenaTitle }}">
                                                        <img alt="Air Canada Centre" data-image-column="true" src="{{ arena?.Photo}}" style="width: 100px"></a>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
							
								</div>
							</div>
							<div class="form-actions row">
								<div class="col-lg-8">
									<div class="row">
										<div class="col-sm-9 col-sm-offset-3">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/arenas" title="Back to list">
                                                        <i class="icon-arrow-left"></i> <span class="hidden-sm hidden-xs">Back to list</span></a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a  target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default"  target="_blank" title="Print"><i class="icon-print-page"></i> 
                                                            <span class="hidden-sm hidden-xs">Print</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<ng-template #addEdit>
							<div class="container-fluid "*ngIf="arena$ | async ; let arena;">
								<div class="row">
									<div class="col-md-12">
										<div class="container-padding">
											<div class="col-md-12 js-form-container">
												<div class="form-actions form-actions-top row">
													<div class="col-lg-8">
														<div class="row">
															<div class="col-sm-9 col-sm-offset-3">
																<div class="btn-toolbar">
																	<div class="btn-group">
																		<button class="btn btn-primary js-save js-primary-save" (click)="saveArena(typeView)" data-action="open" type="submit">Save</button> 
																		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
																		<ul class="dropdown-menu">
																			<li>
																				<a class="js-save" data-action="open">Save and return back to the list</a>
																			</li>
																			<li>
																				<a class="js-save js-multiple-insert-hide" data-action="edit">Save and continue editing</a>
																			</li>
																			<li>
																			</li>
																		</ul>
																	</div>
																	<div class="btn-group">
																		<a class="btn btn-default" routerLink="/menu/arenas">Cancel</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="js-form-collection col-lg-8">
														<form action="" class="form-horizontal" [formGroup]="formArena">
															<div class="btn-group pull-right form-collection-actions">
																<button class="btn btn-default icon-copy js-form-copy" title="Copy" type="button"></button> <button class="btn btn-default icon-remove js-form-remove" style="display: none" title="Delete" type="button"></button>
															</div>
															<div class="clearfix"></div>
															<div class="row">
																<fieldset class="col-md-12 form-horizontal">
																	<div class="row">
																		<div class="form-group form-group-label col-sm-3">
																			<label class="control-label" data-column="caption" for="caption_edit_arenas">Arena title 
																			<span class="required-mark">*</span></label>
																		</div>
																		<div class="form-group col-sm-9">
																			<div class="col-input" data-column="caption" style="width:100%;max-width:100%">
																				<app-input-custom [data]="arena?.arenaTitle" formControlName="arenatitle" [placeholder]="'Arena title'"></app-input-custom>
																				<app-validation formControlName="arenatitle" [requiredfield]="true" [messagerequired]="'The Arena title is required'"></app-validation>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="form-group form-group-label col-sm-3">
																			<label class="control-label" data-column="capacity" for="Form63226a13c1919_capacity_edit">Capacity
																			<span class="required-mark">*</span></label>
																		</div>
																		<div class="form-group col-sm-9">
																			<div class="col-input" data-column="capacity" style="width:100%;max-width:100%">
																				<app-input-custom [data]="arena?.Capacity" formControlName="capacity" [placeholder]="'Capacity'"></app-input-custom>
																				<app-validation 
																				formControlName="capacity" 
																				[requiredfield]="true" 
																				[messagerequired]="'The Capacity is required'"
																				[isnumeric]="true"
																				[messageOnlyNumeric]="'The Capacity is just numeric'">
																				</app-validation>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="form-group form-group-label col-sm-3">
																			<label class="control-label" data-column="about" for="Form63226a13c1919_about_edit">About 
																				<span class="required-mark">*</span></label>
																		</div>
																		<div class="form-group col-sm-9">
																			<div class="col-input" data-column="about" style="width:100%;max-width:100%">
																				<app-test-area-tinymce [data]="arena?.About" formControlName="about"></app-test-area-tinymce>
																				<app-validation formControlName="about" [requiredfield]="true" [messagerequired]="'The About is required'"></app-validation>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="form-group form-group-label col-sm-3">
																			<label class="control-label" data-column="logo" for="Form63226a13c1919_logo_edit">Logo 
																				<span class="required-mark">*</span></label>
																		</div>
																		<div class="form-group col-sm-9">
																			<app-logo-custom [data]="arena?.Logo" formControlName="logo" ></app-logo-custom>
																			<app-validation formControlName="logo" [requiredfield]="true" [messagerequired]="'The Logo is required'"></app-validation>
																		</div>
																	</div>
																	<div class="row">
																		<div class="form-group form-group-label col-sm-3">
																			<label class="control-label" data-column="photo" for="Form63226a13c1919_photo_edit">Photo <span class="required-mark" style="display: none">*</span></label>
																			<div class="pgui-field-options btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
																				<label class="control-label" data-column="photo" for="Form63226a13c1919_photo_edit"></label>
																			</div>
																		</div>
																		<div class="form-group col-sm-9">
																			<app-logo-custom [data]="arena?.Photo" formControlName="photo" ></app-logo-custom>
																			<app-validation formControlName="photo" [requiredfield]="true" [messagerequired]="'The Photo is required'"></app-validation>
																		</div>
																	</div>
																</fieldset>
															</div>
															<div class="row">
																<div class="col-sm-9 col-sm-offset-3">
																	<span class="required-mark">*</span> - Required field
																</div>
															</div><input name="flash_messages" type="hidden" value="1">
															<div class="row">
																<div class="col-md-12 form-error-container form-error-container-bottom"></div>
															</div>
														</form>
													</div>
												</div>
												<div class="row form-add-another-record">
													<div class="col-lg-8">
														<a class="js-form-add col-md-offset-3"><span class="icon-plus"></span> add another record</a>
													</div>
												</div>
												<div class="form-actions row">
													<div class="col-lg-8">
														<div class="row">
															<div class="col-sm-9 col-sm-offset-3">
																<div class="btn-toolbar">
																	<div class="btn-group">
																		<button class="btn btn-primary js-save js-primary-save" (click)="saveArena(typeView)" data-action="open" data-url="arenas.php?operation=return" type="submit">Save</button> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
																		<ul class="dropdown-menu">
																			<li>
																				<a class="js-save" data-action="open" data-url="arenas.php?operation=return">Save and return back to the list</a>
																			</li>
																			<li>
																				<a class="js-save js-multiple-insert-hide" data-action="edit">Save and continue editing</a>
																			</li>
																			<li>
																				<a class="js-save js-save-insert" data-action="open" data-url="arenas.php?operation=insert">Save and add another record</a>
																			</li>
																		</ul>
																	</div>
																	<div class="btn-group">
																		<a class="btn btn-default" routerLink="/menu/arenas">Cancel</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						  </ng-template>
					</div>		
					<hr>
                    <app-footer></app-footer>
				</div>
			</div>
		</div>
	</div>
	