.show-chip-list{
    width: 100%;
}

.select-one-form {
  width: 100%;
}

.select-one-full-width {
  width: 100%;
}

.option-one-form{
  width: 100%;
}

.input_custom_mat{
  border: 0;
  outline: 0;
}

