<div id='idlogo1' class="col-input" data-column="logo" style="width:100%;max-width:100%">
    <img src="{{data}}" style="max-width: 100%;">
    <div style="margin: 1em 0;">
        <div class="btn-group" data-toggle="buttons-radio" data-toggle-name="logo_edit_action">
            <button *ngIf="data!==''" type="button" value="Keep" (click)="keep()"  class="btn btn-default active" data-toggle="button" aria-pressed="true">Keep</button>
        </div>
    </div>
    <input name="logo_edit_action" type="hidden" value="Keep">
    <div class="file-upload-control">
        <input data-editor="imageuploader" class="imageClick" (change)="imagePreview($event)" name="logo_edit" type="file">
    </div>
</div>
<strong>You can drag and drop the image if you want</strong>