	<div class="container-fluid" *ngIf="player$ | async ; let player;">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div id="pgui-view-grid">
						<div class="page-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Participants</a>
								</li>
								<li class="dropdown">
									<a>Players</a> <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a>Teams</a>
										</li>
										<li>
											<a>Arenas</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">Kobe Bryant profile</li>
							</ol>
							<h1>Kobe Bryant profile</h1>
						</div>
						<div class="">
							<div class="form-actions form-actions-top row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/players" title="Back to list">
														<i class="icon-arrow-left"></i> 
														<span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" title="Edit"><i class="icon-edit"></i> <span class="hidden-sm hidden-xs">Edit</span></a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"  title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default" target="_blank" title="Print"><i class="icon-print-page"></i> <span class="hidden-sm hidden-xs">Print</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 js-message-container"></div>
								<div class="clearfix"></div>
								<div class="col-md-8 col-md-offset-2">
									<div class="row">
										<fieldset class="col-md-4 form-static">
											<legend>Photo</legend>
											<div class="row">
												<div class="form-group col-sm-12">
													<label class="control-label" data-column="photo">Photo</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="photo" data-edit-url="">
														<a class="image gallery-item" data-name="photo" title="{{ player?.firstname }} {{ player?.lastname }}">
															<img alt="{{ player?.firstname }} {{ player?.lastname }}" data-image-column="true" src="{{ player?.photo }}" style="width: 100px">
                                                        </a>
													</div>
												</div>
											</div>
										</fieldset>
										<fieldset class="col-md-8 form-static">
											<legend>Personal info</legend>
											<div class="row">
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="first_name">First name</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="first_name" data-edit-url="">
														{{ player?.firstname }} 
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="last_name">Last name</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="last_name" data-edit-url="">
														{{ player?.lastname }}
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="birthday">Birthday</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="birthday" data-edit-url="">
														{{ player?.birthday }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="height">Height</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="height" data-edit-url="">
														{{ player?.height }}
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="weight">Weight</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="weight" data-edit-url="">
														{{ player?.weight }}
													</div>
												</div>
											</div>
										</fieldset>
										<fieldset class="col-md-12 form-static">
											<legend>Team info</legend>
											<div class="row">
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="current_team_id">Team</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="current_team_id" data-edit-url="">
														<a target="_blank">{{ player?.team }}</a>
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="current_number">Number</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="current_number" data-edit-url="">
														{{ player?.number }}
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="position">Position</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="position" data-edit-url="">
														{{ player?.position }}
													</div>
												</div>
											</div>
										</fieldset>
										<fieldset class="col-md-12 form-static">
											<legend>Misc</legend>
											<div class="row">
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="country_id">Country</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="country_id" data-edit-url="">
														{{ player?.country }}
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="college_id">College</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="college_id" data-edit-url="">
														{{ player?.college }}
													</div>
												</div>
												<div class="form-group col-sm-4">
													<label class="control-label" data-column="career_start_year">NBA Debut</label>
													<div class="form-control-static pgui-cell-edit" data-column-name="career_start_year" data-edit-url="">
														{{ player?.nbadebut }}
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
							<div class="form-actions row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/players" title="Back to list"><i class="icon-arrow-left"></i>
														 <span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default"  title="Edit"><i class="icon-edit"></i> 
														<span class="hidden-sm hidden-xs">Edit</span>
													</a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default"  target="_blank" title="Print">
                                                            <i class="icon-print-page"></i> 
                                                            <span class="hidden-sm hidden-xs">Print</span>
                                                        </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
                    <app-footer></app-footer>
				</div>
			</div>
		</div>
	</div>
	