	<div class="container-fluid" *ngIf="player$ | async ; let player;">
		<div class="row" *ngIf="typeView !== '/menu/players/add' &&  !this.typeView.includes('menu/players/edit/') ; else addEdit">
			<div class="col-md-12">
				<div class="container-padding">
					<div id="pgui-view-grid">
						<div class="page-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Participants</a>
								</li>
								<li class="dropdown">
									<a>Players</a> <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a>Teams</a>
										</li>
										<li>
											<a>Arenas</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">Kobe Bryant profile</li>
							</ol>
							<h1>Kobe Bryant profile</h1>
						</div>
						<div class="">
							<div class="form-actions form-actions-top row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/players" title="Back to list">
														<i class="icon-arrow-left"></i> 
														<span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" routerLink="/menu/players/edit/{{player.id}}"  title="Edit">
														<i class="icon-edit"></i> 
														<span class="hidden-sm hidden-xs">Edit</span>
													</a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"  title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default" target="_blank" title="Print"><i class="icon-print-page"></i> <span class="hidden-sm hidden-xs">Print</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								<div class="row">
									<div class="col-md-12 js-message-container"></div>
									<div class="clearfix"></div>
									<div class="col-md-8 col-md-offset-2">
										<div class="row">
											<fieldset class="col-md-4 form-static">
												<legend>Photo</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="photo">Photo</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="photo" data-edit-url="">
															<a class="image gallery-item" data-name="photo" title="{{ player?.firstname }} {{ player?.lastname }}">
																<img alt="{{ player?.firstname }} {{ player?.lastname }}" data-image-column="true" src="{{ player?.photo }}" style="width: 100px">
															</a>
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-8 form-static">
												<legend>Personal info</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="first_name">First name</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="first_name" data-edit-url="">
															{{ player?.firstname }} 
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="last_name">Last name</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="last_name" data-edit-url="">
															{{ player?.lastname }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="birthday">Birthday</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="birthday" data-edit-url="">
															{{ player?.birthday }}
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="height">Height</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="height" data-edit-url="">
															{{ player?.height }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="weight">Weight</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="weight" data-edit-url="">
															{{ player?.weight }}
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12 form-static">
												<legend>Team info</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="current_team_id">Team</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="current_team_id" data-edit-url="">
															<a target="_blank">{{ player?.team }}</a>
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="current_number">Number</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="current_number" data-edit-url="">
															{{ player?.number }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="position">Position</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="position" data-edit-url="">
															{{ player?.position }}
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12 form-static">
												<legend>Misc</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="country_id">Country</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="country_id" data-edit-url="">
															{{ player?.country }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="college_id">College</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="college_id" data-edit-url="">
															{{ player?.college }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="career_start_year">NBA Debut</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="career_start_year" data-edit-url="">
															{{ player?.nbadebut }}
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>					
							<div class="form-actions row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/players" title="Back to list"><i class="icon-arrow-left"></i>
														 <span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" routerLink="/menu/players/edit/{{player.id}}" title="Edit"><i class="icon-edit"></i> 
														<span class="hidden-sm hidden-xs">Edit</span>
													</a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default"  target="_blank" title="Print">
                                                            <i class="icon-print-page"></i> 
                                                            <span class="hidden-sm hidden-xs">Print</span>
                                                        </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
                    <app-footer></app-footer>
				</div>
			</div>
		</div>
		<ng-template #addEdit>
			<div class="row" *ngIf="player$ | async ; let player;">
				<div class="col-md-12">
					<div class="container-padding">
						<div class="page-header form-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a ><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Participants</a>
								</li>
								<li class="dropdown">
									<a>Players</a> <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a>Teams</a>
										</li>
										<li>
											<a>Arenas</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">Add a new player</li>
							</ol>
							<h1>Add a new player</h1>
						</div>
						<div class="col-md-12 js-form-container" data-form-url="">
							<div class="form-actions form-actions-top row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<button class="btn btn-primary js-save js-primary-save" data-action="open" (click)="save()" data-url="" title="(Ctrl+Return)" type="submit">Save</button> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
													<ul class="dropdown-menu">
														<li>
															<a class="js-save" data-action="open" data-url="" >Save and return back to the list</a>
														</li>
														<li>
															<a class="js-save js-multiple-insert-hide" data-action="edit">Save and continue editing</a>
														</li>
														<li>
															<a class="js-save js-save-insert" data-action="open" data-url=""  title="(Ctrl+Shift+Return)">Save and add another record</a>
														</li>
													</ul>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" routerLink="/menu/players">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="js-form-collection col-md-8 col-md-offset-2">
									<form [formGroup]="formPlayer">
										<div class="btn-group pull-right form-collection-actions">
											<button class="btn btn-default icon-copy js-form-copy" title="Copy" type="button"></button> <button class="btn btn-default icon-remove js-form-remove" style="display: none" title="Delete" type="button"></button>
										</div>
										<div class="clearfix"></div>
										<div class="row">
											<fieldset class="col-md-8">
												<legend>Personal info</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="first_name" for="Form6345d76e00a60_first_name_edit">First name 
															<span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="first_name" style="width:100%;max-width:100%">
															<app-input-custom [data]="player?.firstname" formControlName="firstname" [placeholder]="'First name'"></app-input-custom>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="last_name" for="Form6345d76e00a60_last_name_edit">Last name 
															<span class="required-mark">*</span>
														</label>														
														<div class="col-input" data-column="last_name" style="width:100%;max-width:100%">
															<app-input-custom [data]="player?.lastname" formControlName="lastname" [placeholder]="'Last name'"></app-input-custom>															
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="birthday" for="">Birthday 
															<span class="required-mark">*</span>
														</label>													
														<app-input-custom-datetime [data]="player?.birthday" formControlName="birthday"></app-input-custom-datetime>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="height" for="Form6345d76e00a60_height_edit">Height 
															<span class="required-mark">*</span>
														</label>														
														<div class="col-input" data-column="height" style="width:100%;max-width:100%">
															<div class="input-group">
																<app-input-custom [data]="player?.height" formControlName="height" [placeholder]="'Height'"></app-input-custom>	
																<span class="input-group-addon">cm</span>
															</div>
														</div>
													</div>
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="weight" for="Form6345d76e00a60_weight_edit">Weight 
															<span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="weight" style="width:100%;max-width:100%">
															<div class="input-group">
																<app-input-custom [data]="player?.weight" formControlName="weight" [placeholder]="'Weight'"></app-input-custom>	
																<span class="input-group-addon">kg</span>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-4">
												<legend>Photo</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<app-logo-custom [data]="player?.photo" formControlName="photo" ></app-logo-custom>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12">
												<legend>Team info</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="current_team_id" for="Form6345d76e00a60_current_team_id_edit">Team 
															<span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="current_team_id" style="width:100%;max-width:100%">
															<div class="input-group" style="width: 100%">
																<div class="select2-container form-control" id="s2id_Form6345d76e00a60_current_team_id_edit" style="width: 100%;">
																	<app-chips-select 
																		[dataset]="(teamSet$ | async)" 
																		[allData]="(teamsList$ | async)" 
																		[type]="'single'"
																		formControlName="team">
																	</app-chips-select>
																</div>																
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="current_number" for="Form6345d76e00a60_current_number_edit">Number 
															<span class="required-mark">*</span>
														</label>													
														<div class="col-input" data-column="current_number" style="width:100%;max-width:100%">
															<div class="input-group">
																<span class="input-group-addon">#</span> 
																<app-input-custom [data]="player?.number" formControlName="number" [placeholder]="'Number'"></app-input-custom>	
															</div>
														</div>
													</div>
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="position" for="Form6345d76e00a60_position_edit">Position 
															<span class="required-mark">*</span>
														</label>													
														<div class="col-input" data-column="position" style="width:100%;max-width:100%">
															<app-chips-select 
																[dataset]="(positionSet$ | async)" 
																[allData]="positionList" 
																[type]="'multi'"
																formControlName="position">
															</app-chips-select>
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12">
												<legend>Misc</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="country_id" for="Form6345d76e00a60_country_id_edit">Country 
															<span class="required-mark">*</span>
														</label>														
														<div class="col-input" data-column="country_id" style="width:100%;max-width:100%">
															<app-chips-select 
																[dataset]="(countrySet$ | async)" 
																[allData]="countryList" 
																[type]="'single'"
																formControlName="country">
															</app-chips-select>
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="college_id" for="Form6345d76e00a60_college_id_edit">College
															 <span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="college_id" style="width:100%;max-width:100%">
															<app-chips-select 
																[dataset]="(collegeSet$ | async)" 
																[allData]="collegeList" 
																[type]="'single'"
																formControlName="college">
															</app-chips-select>														
														</div>
														<p class="help-block">College can be selected only for players from USA.</p>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="career_start_year" for="Form6345d76e00a60_career_start_year_edit">NBA Debut 
															<span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="career_start_year" style="width:100%;max-width:100%">
															<app-input-custom [data]="player?.nbadebut" formControlName="nbadebut" [placeholder]="'NBA Debut'"></app-input-custom>
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									</form>
								</div>
							</div>
						</div>
						<hr>
						<app-footer></app-footer>
					</div>
				</div>
			</div>				
		</ng-template>
	</div>
	