	<div class="container-fluid" *ngIf="player$ | async ; let player;">
		<div class="row" *ngIf="typeView !== '/menu/players/add' &&  !this.typeView.includes('menu/players/edit/') ; else addEdit">
			<div class="col-md-12">
				<div class="container-padding">
					<div id="pgui-view-grid">
						<div class="page-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Participants</a>
								</li>
								<li class="dropdown">
									<a>Players</a> <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a>Teams</a>
										</li>
										<li>
											<a>Arenas</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">Kobe Bryant profile</li>
							</ol>
							<h1>Kobe Bryant profile</h1>
						</div>
						<div class="">
							<div class="form-actions form-actions-top row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/players" title="Back to list">
														<i class="icon-arrow-left"></i> 
														<span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" routerLink="/menu/players/edit/{{player.id}}"  title="Edit">
														<i class="icon-edit"></i> 
														<span class="hidden-sm hidden-xs">Edit</span>
													</a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"  title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default" target="_blank" title="Print"><i class="icon-print-page"></i> <span class="hidden-sm hidden-xs">Print</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
								<div class="row">
									<div class="col-md-12 js-message-container"></div>
									<div class="clearfix"></div>
									<div class="col-md-8 col-md-offset-2">
										<div class="row">
											<fieldset class="col-md-4 form-static">
												<legend>Photo</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="photo">Photo</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="photo" data-edit-url="">
															<a class="image gallery-item" data-name="photo" title="{{ player?.firstname }} {{ player?.lastname }}">
																<img alt="{{ player?.firstname }} {{ player?.lastname }}" data-image-column="true" src="{{ player?.photo }}" style="width: 100px">
															</a>
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-8 form-static">
												<legend>Personal info</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="first_name">First name</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="first_name" data-edit-url="">
															{{ player?.firstname }} 
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="last_name">Last name</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="last_name" data-edit-url="">
															{{ player?.lastname }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="birthday">Birthday</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="birthday" data-edit-url="">
															{{ player?.birthday }}
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="height">Height</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="height" data-edit-url="">
															{{ player?.height }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="weight">Weight</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="weight" data-edit-url="">
															{{ player?.weight }}
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12 form-static">
												<legend>Team info</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="current_team_id">Team</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="current_team_id" data-edit-url="">
															<a target="_blank">{{ player?.team }}</a>
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="current_number">Number</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="current_number" data-edit-url="">
															{{ player?.number }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="position">Position</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="position" data-edit-url="">
															{{ player?.position }}
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12 form-static">
												<legend>Misc</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="country_id">Country</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="country_id" data-edit-url="">
															{{ player?.country }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="college_id">College</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="college_id" data-edit-url="">
															{{ player?.college }}
														</div>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="career_start_year">NBA Debut</label>
														<div class="form-control-static pgui-cell-edit" data-column-name="career_start_year" data-edit-url="">
															{{ player?.nbadebut }}
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
								</div>					
							<div class="form-actions row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/menu/players" title="Back to list"><i class="icon-arrow-left"></i>
														 <span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" routerLink="/menu/players/edit/{{player.id}}" title="Edit"><i class="icon-edit"></i> 
														<span class="hidden-sm hidden-xs">Edit</span>
													</a>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default"  target="_blank" title="Print">
                                                            <i class="icon-print-page"></i> 
                                                            <span class="hidden-sm hidden-xs">Print</span>
                                                        </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
                    <app-footer></app-footer>
				</div>
			</div>
		</div>
		<ng-template #addEdit>
			<div class="row" *ngIf="player$ | async ; let player;">
				<div class="col-md-12">
					<div class="container-padding">
						<div class="page-header form-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a ><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Participants</a>
								</li>
								<li class="dropdown">
									<a>Players</a> <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a>Teams</a>
										</li>
										<li>
											<a>Arenas</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">Add a new player</li>
							</ol>
							<h1>Add a new player</h1>
						</div>
						<div class="col-md-12 js-form-container" data-form-url="">
							<div class="form-actions form-actions-top row">
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<div class="btn-toolbar">
												<div class="btn-group">
													<button class="btn btn-primary js-save js-primary-save" data-action="open" (click)="save()" data-url="" title="(Ctrl+Return)" type="submit">Save</button> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
													<ul class="dropdown-menu">
														<li>
															<a class="js-save" data-action="open" data-url="" >Save and return back to the list</a>
														</li>
														<li>
															<a class="js-save js-multiple-insert-hide" data-action="edit">Save and continue editing</a>
														</li>
														<li>
															<a class="js-save js-save-insert" data-action="open" data-url=""  title="(Ctrl+Shift+Return)">Save and add another record</a>
														</li>
													</ul>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" routerLink="/menu/players">Cancel</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="js-form-collection col-md-8 col-md-offset-2">
									<form [formGroup]="formPlayer">
										<div class="btn-group pull-right form-collection-actions">
											<button class="btn btn-default icon-copy js-form-copy" title="Copy" type="button"></button> <button class="btn btn-default icon-remove js-form-remove" style="display: none" title="Delete" type="button"></button>
										</div>
										<div class="clearfix"></div>
										<div class="row">
											<fieldset class="col-md-8">
												<legend>Personal info</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="first_name" for="Form6345d76e00a60_first_name_edit">First name 
															<span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="first_name" style="width:100%;max-width:100%">
															<app-input-custom [data]="player?.firstname" formControlName="firstname" [placeholder]="'First name'"></app-input-custom>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="last_name" for="Form6345d76e00a60_last_name_edit">Last name 
															<span class="required-mark">*</span>
														</label>														
														<div class="col-input" data-column="last_name" style="width:100%;max-width:100%">
															<app-input-custom [data]="player?.lastname" formControlName="lastname" [placeholder]="'Last name'"></app-input-custom>															
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="birthday" for="">Birthday 
															<span class="required-mark" style="display: none">*</span>
														</label>													
														<app-input-custom-datetime [data]="player?.birthday" formControlName="birthday"></app-input-custom-datetime>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="height" for="Form6345d76e00a60_height_edit">Height 
															<span class="required-mark" style="display: none">*</span>
														</label>														
														<div class="col-input" data-column="height" style="width:100%;max-width:100%">
															<div class="input-group">
																<app-input-custom [data]="player?.height" formControlName="height" [placeholder]="'Height'"></app-input-custom>	
																<span class="input-group-addon">cm</span>
															</div>
														</div>
													</div>
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="weight" for="Form6345d76e00a60_weight_edit">Weight 
															<span class="required-mark" style="display: none">*</span>
														</label>
														<div class="col-input" data-column="weight" style="width:100%;max-width:100%">
															<div class="input-group">
																<app-input-custom [data]="player?.weight" formControlName="weight" [placeholder]="'Weight'"></app-input-custom>	
																<span class="input-group-addon">kg</span>
															</div>
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-4">
												<legend>Photo</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<app-logo-custom [data]="player?.photo" formControlName="photo" ></app-logo-custom>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12">
												<legend>Team info</legend>
												<div class="row">
													<div class="form-group col-sm-12">
														<label class="control-label" data-column="current_team_id" for="Form6345d76e00a60_current_team_id_edit">Team 
															<span class="required-mark" style="display: none">*</span>
														</label>
														<div class="col-input" data-column="current_team_id" style="width:100%;max-width:100%">
															<div class="input-group" style="width: 100%">
																<div class="select2-container form-control" id="s2id_Form6345d76e00a60_current_team_id_edit" style="width: 100%;">
																	<app-chips-select 
																		[dataset]="(teamSet$ | async)" 
																		[allData]="(teamsList$ | async)" 
																		[type]="'single'"
																		formControlName="team">
																	</app-chips-select>
																</div>																
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="current_number" for="Form6345d76e00a60_current_number_edit">Number 
															<span class="required-mark" style="display: none">*</span>
														</label>													
														<div class="col-input" data-column="current_number" style="width:100%;max-width:100%">
															<div class="input-group">
																<span class="input-group-addon">#</span> 
																<app-input-custom [data]="player?.number" formControlName="number" [placeholder]="'Number'"></app-input-custom>	
															</div>
														</div>
													</div>
													<div class="form-group col-sm-6">
														<label class="control-label" data-column="position" for="Form6345d76e00a60_position_edit">Position 
															<span class="required-mark" style="display: none">*</span>
														</label>													
														<div class="col-input" data-column="position" style="width:100%;max-width:100%">
															<app-chips-select 
																[dataset]="(positionSet$ | async)" 
																[allData]="positionList" 
																[type]="'multi'"
																formControlName="position">
															</app-chips-select>
														</div>
													</div>
												</div>
											</fieldset>
											<fieldset class="col-md-12">
												<legend>Misc</legend>
												<div class="row">
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="country_id" for="Form6345d76e00a60_country_id_edit">Country 
															<span class="required-mark">*</span>
														</label>														
														<div class="col-input" data-column="country_id" style="width:100%;max-width:100%">
															<app-chips-select 
																[dataset]="(countrySet$ | async)" 
																[allData]="countryList" 
																[type]="'single'"
																formControlName="country">
															</app-chips-select>
														</div>
													</div>
													<div class="form-group col-sm-4 has-warning">
														<label class="control-label" data-column="college_id" for="Form6345d76e00a60_college_id_edit">College
															 <span class="required-mark" style="display: none">*</span>
														</label>
														<div class="col-input" data-column="college_id" style="width:100%;max-width:100%">
															<select class="form-control" data-editor="combobox" data-field-name="college_id" data-legacy-field-name="college_id" data-pgui-legacy-validate="true" disabled id="Form6345d76e00a60_college_id_edit" name="college_id_edit">
																<option value="">
																	Please select...
																</option>
																<option value="60">
																	Alabama
																</option>
																<option value="122">
																	Alabama-Birmingham
																</option>
																<option value="15">
																	Arizona
																</option>
																<option value="62">
																	Arizona State
																</option>
																<option value="38">
																	Arkansas
																</option>
																<option value="69">
																	Arkansas-Little Rock
																</option>
																<option value="59">
																	Auburn
																</option>
																<option value="73">
																	Augsburg
																</option>
																<option value="79">
																	Austin Peay
																</option>
																<option value="124">
																	Baylor
																</option>
																<option value="12">
																	Blinn Coll. TX (JC)
																</option>
																<option value="66">
																	Boston College
																</option>
																<option value="58">
																	Bowling Green
																</option>
																<option value="114">
																	Bradley
																</option>
																<option value="36">
																	Cal State Fullerton
																</option>
																<option value="40">
																	Cal State-Fullerton
																</option>
																<option value="13">
																	California
																</option>
																<option value="95">
																	Central Michigan
																</option>
																<option value="91">
																	Charleston (SC)
																</option>
																<option value="100">
																	Cincinnati
																</option>
																<option value="42">
																	Clemson
																</option>
																<option value="71">
																	Colgate
																</option>
																<option value="29">
																	Colorado
																</option>
																<option value="125">
																	Colorado State
																</option>
																<option value="7">
																	Connecticut
																</option>
																<option value="96">
																	Creighton
																</option>
																<option value="118">
																	Delta State
																</option>
																<option value="50">
																	DePaul
																</option>
																<option value="78">
																	Detroit Mercy
																</option>
																<option value="119">
																	Drexel
																</option>
																<option value="26">
																	Duke
																</option>
																<option value="88">
																	Duquesne
																</option>
																<option value="126">
																	Eastern Washington
																</option>
																<option value="33">
																	Florida
																</option>
																<option value="87">
																	Florida A&amp;M
																</option>
																<option value="28">
																	Florida International
																</option>
																<option value="131">
																	Florida State
																</option>
																<option value="10">
																	Fresno State
																</option>
																<option value="105">
																	George Washington
																</option>
																<option value="77">
																	Georgetown
																</option>
																<option value="81">
																	Georgia
																</option>
																<option value="35">
																	Georgia Tech
																</option>
																<option value="109">
																	Gonzaga
																</option>
																<option value="48">
																	Hawaii
																</option>
																<option value="51">
																	Hofstra
																</option>
																<option value="92">
																	Houston
																</option>
																<option value="55">
																	Illinois
																</option>
																<option value="76">
																	Indiana
																</option>
																<option value="37">
																	Iowa
																</option>
																<option value="128">
																	Iowa State
																</option>
																<option value="83">
																	IUPUI
																</option>
																<option value="86">
																	Jackson State
																</option>
																<option value="17">
																	Kansas
																</option>
																<option value="27">
																	Kansas State
																</option>
																<option value="19">
																	Kentucky
																</option>
																<option value="43">
																	La Salle
																</option>
																<option value="23">
																	Louisiana State
																</option>
																<option value="106">
																	Louisiana Tech
																</option>
																<option value="72">
																	Louisville
																</option>
																<option value="61">
																	Marquette
																</option>
																<option value="30">
																	Maryland
																</option>
																<option value="44">
																	Massachusetts
																</option>
																<option value="46">
																	Memphis
																</option>
																<option value="108">
																	Meridian CC (MS)
																</option>
																<option value="93">
																	Miami (Fla.)
																</option>
																<option value="127">
																	Miami (Ohio)
																</option>
																<option value="24">
																	Michigan
																</option>
																<option value="3">
																	Michigan State
																</option>
																<option value="85">
																	Minnesota
																</option>
																<option value="57">
																	Mississippi State
																</option>
																<option value="63">
																	Missouri
																</option>
																<option value="123">
																	Murray State
																</option>
																<option value="65">
																	n/a
																</option>
																<option value="98">
																	Nebraska
																</option>
																<option value="11">
																	Nevada-Las Vegas
																</option>
																<option value="104">
																	Nevada-Reno
																</option>
																<option value="74">
																	New Mexico
																</option>
																<option value="49">
																	North Carolina
																</option>
																<option value="82">
																	North Carolina State
																</option>
																<option value="21">
																	Northeastern
																</option>
																<option value="47">
																	Notre Dame
																</option>
																<option value="54">
																	Ohio State
																</option>
																<option value="111">
																	Oklahoma
																</option>
																<option value="8">
																	Oklahoma State
																</option>
																<option value="39">
																	Oregon
																</option>
																<option value="22">
																	Oregon State
																</option>
																<option value="34">
																	Penn State
																</option>
																<option value="1">
																	Pepperdine
																</option>
																<option value="31">
																	Pittsburgh
																</option>
																<option value="132">
																	Portland State
																</option>
																<option value="75">
																	Providence
																</option>
																<option value="45">
																	Purdue
																</option>
																<option value="107">
																	Rhode Island
																</option>
																<option value="9">
																	Rice
																</option>
																<option value="130">
																	Rider
																</option>
																<option value="64">
																	Rutgers
																</option>
																<option value="113">
																	Saint Joseph's
																</option>
																<option value="136">
																	San Diego State
																</option>
																<option value="112">
																	Santa Clara
																</option>
																<option value="56">
																	Seton Hall
																</option>
																<option value="110">
																	Shaw
																</option>
																<option value="20">
																	South Carolina
																</option>
																<option value="18">
																	South Florida
																</option>
																<option value="120">
																	Southern Methodist
																</option>
																<option value="16">
																	St. John's
																</option>
																<option value="84">
																	St. Louis
																</option>
																<option value="52">
																	Stanford
																</option>
																<option value="14">
																	Syracuse
																</option>
																<option value="53">
																	Temple
																</option>
																<option value="134">
																	Tennessee
																</option>
																<option value="4">
																	Texas
																</option>
																<option value="94">
																	Texas A&amp;M
																</option>
																<option value="129">
																	Texas Christian
																</option>
																<option value="70">
																	Texas State
																</option>
																<option value="25">
																	Texas Tech
																</option>
																<option value="41">
																	Texas-San Antonio
																</option>
																<option value="89">
																	Tulane
																</option>
																<option value="121">
																	Tulsa
																</option>
																<option value="2">
																	UCLA
																</option>
																<option value="99">
																	UNLV
																</option>
																<option value="103">
																	USC
																</option>
																<option value="32">
																	Utah
																</option>
																<option value="116">
																	Utah Valley University
																</option>
																<option value="6">
																	Villanova
																</option>
																<option value="102">
																	Virginia
																</option>
																<option value="133">
																	Virginia Union
																</option>
																<option value="67">
																	Wake Forest
																</option>
																<option value="80">
																	Washington
																</option>
																<option value="135">
																	Washington State
																</option>
																<option value="5">
																	West Virginia
																</option>
																<option value="90">
																	Westchester HS (Los Angeles, CA)
																</option>
																<option value="101">
																	Western Carolina
																</option>
																<option value="97">
																	Western Kentucky
																</option>
																<option value="68">
																	Wisconsin
																</option>
																<option value="117">
																	Wyoming
																</option>
																<option value="115">
																	Xavier (Ohio)
																</option>
															</select>
														</div>
														<p class="help-block">College can be selected only for players from USA.</p>
													</div>
													<div class="form-group col-sm-4">
														<label class="control-label" data-column="career_start_year" for="Form6345d76e00a60_career_start_year_edit">NBA Debut 
															<span class="required-mark">*</span>
														</label>
														<div class="col-input" data-column="career_start_year" style="width:100%;max-width:100%">
															<input class="form-control" data-editor="text" data-field-name="career_start_year" data-legacy-field-name="career_start_year" data-pgui-legacy-validate="true" data-required-error-message="NBA Debut is required." data-validation="required" id="Form6345d76e00a60_career_start_year_edit" name="career_start_year_edit" placeholder="Career start year" type="text" value="">
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									</form>
								</div>
							</div>
						</div>
						<hr>
						<app-footer></app-footer>
					</div>
				</div>
			</div>				
		</ng-template>
	</div>
	