	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div class="page-header">
						<ol class="breadcrumb pgui-breadcrumb">
							<li>
								<a><i class="icon-home"></i></a>
							</li>
							<li class="dropdown">
								<a>Games</a>
							</li>
							<li class="dropdown">Playoff 
                            <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a>Regular season games</a>
									</li>
								</ul>
							</li>
						</ol>
						<h1>Playoff</h1>
					</div>
					
					<div class="well description">
						<a class="close"><span aria-hidden="true">&times;</span></a>
						<p>This page shows the playoff bracket for the 2013-2014 NBA season and demonstrates the power of custom templates. Click a team logo to investigate the series details.</p>
						<nav>
							<ul class="pager">
								<li class="previous">
									<a><span aria-hidden="true">&larr;</span> Regular season games</a>
								</li>
								<li class="next">
									<a>Players <span aria-hidden="true">&rarr;</span></a>
								</li>
							</ul>
						</nav>
					</div>
                    <img class="playoff-title" src="../../../assets/css/nba_images/playoffs.svg">
					<div class="playoff">
						<div class="playoff-conference playoff-conference-left">
							<h2 class="playoff-conference-heading">West<span class="visible-lg-inline">ern conference</span></h2>
							<ul class="playoff-round">
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="20">
										<div class="playoff-bracket-horizontal"></div>
                                        <span class="playoff-round-game-team-seed">1</span> 
                                        <a class="playoff-round-game-team-logo">
                                            <img src="../../../assets/css/nba_images/teams/SAS.svg" title="San Antonio Spurs">
                                        </a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="30">
										<div class="playoff-bracket-horizontal"></div>
                                        <span class="playoff-round-game-team-seed">8</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/DAL.svg" title="Dallas Mavericks"></a> 
                                        <span class="playoff-round-game-team-wins">3</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="22">
										<div class="playoff-bracket-horizontal"></div>
                                        <span class="playoff-round-game-team-seed">4</span>
                                        <a class="playoff-round-game-team-logo">
                                        <img src="../../../assets/css/nba_images/teams/HOU.svg" title="Houston Rockets"></a>
                                        <span class="playoff-round-game-team-wins">2</span>
									</div>
									<div class="playoff-round-game-team" data-id="6">
										<div class="playoff-bracket-horizontal"></div>
                                        <span class="playoff-round-game-team-seed">5</span> 
                                        <a class="playoff-round-game-team-logo">
                                        <img src="../../../assets/css/nba_images/teams/POR.svg" title="Portland Trail Blazers"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="28">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">3</span> 
                                        <a class="playoff-round-game-team-logo">
                                        <img src="../../../assets/css/nba_images/teams/LAC.svg" title="Los Angeles Clippers"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="26">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">6</span> 
                                        <a class="playoff-round-game-team-logo">
                                            <img src="../../../assets/css/nba_images/teams/GSW.svg" title="Golden State Warriors"></a> <span class="playoff-round-game-team-wins">3</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="18">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">2</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/OKC.svg" title="Oklahoma City Thunder"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="24">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">7</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/MEM.svg" title="Memphis Grizzlies"></a> 
                                        <span class="playoff-round-game-team-wins">3</span>
									</div>
								</li>
							</ul>
							<div class="playoff-round-bracket">
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
							</div>
							<ul class="playoff-round">
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="20">
										<div class="playoff-bracket-horizontal"></div>
                                        <span class="playoff-round-game-team-seed">1</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/SAS.svg" title="San Antonio Spurs"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="6">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">5</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/POR.svg" title="Portland Trail Blazers"></a> 
                                        <span class="playoff-round-game-team-wins">1</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="28">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">3</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/LAC.svg" title="Los Angeles Clippers"></a> 
                                        <span class="playoff-round-game-team-wins">2</span>
									</div>
									<div class="playoff-round-game-team" data-id="18">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">2</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/OKC.svg" title="Oklahoma City Thunder"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
								</li>
							</ul>
							<div class="playoff-round-bracket">
								<div class="playoff-round-game-bracket playoff-round-game-bracket-2"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-2"></div>
							</div>
							<ul class="playoff-round">
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="20">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">1</span> 
                                        <a class="playoff-round-game-team-logo">
                                            <img src="../../../assets/css/nba_images/teams/SAS.svg" title="San Antonio Spurs"></a> 
                                            <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="18">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">2</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/OKC.svg" title="Oklahoma City Thunder"></a> 
                                        <span class="playoff-round-game-team-wins">2</span>
									</div>
								</li>
							</ul>
							<div class="playoff-round-bracket">
								<div class="playoff-round-game-bracket playoff-round-game-bracket-3"></div>
							</div>
						</div>
						<ul class="playoff-round playoff-round-final">
							<li class="playoff-round-game">
								<div class="playoff-round-game-team" data-id="20">
									<span class="playoff-round-game-team-seed">1</span> <a class="playoff-round-game-team-logo playoff-round-game-team-logo-winner">
                                        <img src="../../../assets/css/nba_images/teams/SAS.svg" title="San Antonio Spurs"></a> 
                                    <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
								</div>
								<div class="playoff-bracket-horizontal"></div>
								<div class="playoff-round-game-team" data-id="14">
									<span class="playoff-round-game-team-seed">2</span> <a class="playoff-round-game-team-logo">
                                    <img src="../../../assets/css/nba_images/teams/MIA.svg" title="Miami Heat"></a> 
                                    <span class="playoff-round-game-team-wins">1</span>
								</div>
							</li>
						</ul>
						<div class="playoff-conference playoff-conference-right">
							<h2 class="playoff-conference-heading">East<span class="visible-lg-inline">ern conference</span></h2>
							<ul class="playoff-round">
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="16">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">1</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/IND.svg" title="Indiana Pacers"></a>
                                         <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="11">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">8</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/ATL.svg" title="Atlanta Hawks"></a> 
                                        <span class="playoff-round-game-team-wins">3</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="3">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">4</span> 
                                        <a class="playoff-round-game-team-logo">
                                        <img src="../../../assets/css/nba_images/teams/CHI.svg" title="Chicago Bulls"></a> <span class="playoff-round-game-team-wins">1</span>
									</div>
									<div class="playoff-round-game-team" data-id="12">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">5</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/WAS.svg" title="Washington Wizards"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="9">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">3</span>
                                         <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/TOR.svg" title="Toronto Raptors"></a> <span class="playoff-round-game-team-wins">3</span>
									</div>
									<div class="playoff-round-game-team" data-id="13">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">6</span> 
                                        <a class="playoff-round-game-team-logo">
                                        <img src="../../../assets/css/nba_images/teams/BKN.svg" title="Brooklyn Nets"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="14">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">2</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/MIA.svg" title="Miami Heat"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="29">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">7</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/CHA.svg" title="Charlotte Hornets"></a> 
                                        <span class="playoff-round-game-team-wins">0</span>
									</div>
								</li>
							</ul>
							<div class="playoff-round-bracket">
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-1"></div>
							</div>
							<ul class="playoff-round">
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="16">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">1</span> 
                                        <a class="playoff-round-game-team-logo">
                                            <img src="../../../assets/css/nba_images/teams/IND.svg" title="Indiana Pacers"></a> 
                                            <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
									<div class="playoff-round-game-team" data-id="12">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">5</span>
                                         <a class="playoff-round-game-team-logo">
                                            <img src="../../../assets/css/nba_images/teams/WAS.svg" title="Washington Wizards"></a> 
                                            <span class="playoff-round-game-team-wins">2</span>
									</div>
								</li>
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="13">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">6</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/BKN.svg" title="Brooklyn Nets"></a> 
                                        <span class="playoff-round-game-team-wins">1</span>
									</div>
									<div class="playoff-round-game-team" data-id="14">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">2</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/MIA.svg" title="Miami Heat"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
								</li>
							</ul>
							<div class="playoff-round-bracket">
								<div class="playoff-round-game-bracket playoff-round-game-bracket-2"></div>
								<div class="playoff-round-game-bracket playoff-round-game-bracket-2"></div>
							</div>
							<ul class="playoff-round">
								<li class="playoff-round-game">
									<div class="playoff-round-game-team" data-id="16">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">1</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/IND.svg" title="Indiana Pacers"></a> 
                                        <span class="playoff-round-game-team-wins">2</span>
									</div>
									<div class="playoff-round-game-team" data-id="14">
										<div class="playoff-bracket-horizontal"></div><span class="playoff-round-game-team-seed">2</span> 
                                        <a class="playoff-round-game-team-logo"><img src="../../../assets/css/nba_images/teams/MIA.svg" title="Miami Heat"></a> 
                                        <span class="playoff-round-game-team-wins playoff-round-game-team-wins-winner">4</span>
									</div>
								</li>
							</ul>
							<div class="playoff-round-bracket">
								<div class="playoff-round-game-bracket playoff-round-game-bracket-3"></div>
							</div>
						</div>
					</div>		
					<hr>
                    <app-footer></app-footer>
				</div>
			</div>
		</div>
	</div>