<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-padding">
                <div class="row pgui-home-row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>Games</h2>
                        <p class="lead">The complete list of <a>regular season</a> and <a>playoff</a> games that took place in the 2013-2014 NBA season.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pgui-home-col">
                        <div class="pgui-home-item-wrapper">
                            <div class="pgui-home-item">
                                <a title="Regular season games">Regular season games</a>
                                <p>Displays the list of games played during the 2013-2014 NBA regular season and demonstrates such software features as charts, embedded videos, data partitioning, custom filters, auto hidden columns, user-defined templates, and more.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pgui-home-col">
                        <div class="pgui-home-item-wrapper">
                            <div class="pgui-home-item">
                                <a routerLink="/menu/playoff" title="Playoff">Playoff bracket</a>
                                <p>This page shows the playoff bracket for the 2013-2014 NBA season and demonstrates the power of custom templates.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pgui-home-row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>Participants</h2>
                        <p class="lead">Pages in this group display information about NBA players, teams, and arenas.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pgui-home-col">
                        <div class="pgui-home-item-wrapper">
                            <div class="pgui-home-item">
                                <a title="Players" routerLink="/menu/players">Players</a>
                                <p>This page displays the list of players and illustrates such software features as custom templates for cards, record comparison, and custom layouts for Insert/Edit/View forms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pgui-home-col">
                        <div class="pgui-home-item-wrapper">
                            <div class="pgui-home-item">
                                <a title="Teams" routerLink="/menu/teams">Teams</a>
                                <p>Lists the teams participated in the 2013-2014 NBA season and learns how to include a chart into a detail page, highlight a row in the data grid according to the current theme, load images from an external site, and so on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 pgui-home-col">
                        <div class="pgui-home-item-wrapper">
                            <div class="pgui-home-item">
                                <a title="Arenas" routerLink="/menu/arenas" >Arenas</a>
                                <p>This page shows how it is possible to integrate generated applications with Google Maps.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>
