
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div class="page-header">
						<ol class="breadcrumb pgui-breadcrumb">
							<li>
								<a><i class="icon-home"></i></a>
							</li>
							<li class="dropdown">
								<a>Participants</a>
							</li>
							<li class="dropdown">Arenas <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a>Players</a>
									</li>
									<li>
										<a>Teams</a>
									</li>
								</ul>
							</li>
						</ol>
						<h1>Arenas</h1>
					</div>
				
					<div class="well description">
						<a class="close"><span aria-hidden="true">&times;</span></a>
						<p>This page shows how it is possible to integrate generated applications with <a target="_blank">Google Maps</a>. Click any link in the &quot;Arena title&quot; column to locate the arena on the map.</p>
						<nav>
							<ul class="pager">
								<li class="previous">
									<a routerLink="/menu/teams"><span aria-hidden="true">&larr;</span> Teams</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="grid grid-table grid-card js-grid" data-column-count="7" data-grid-hidden-values="[]" data-is-master="" data-selection-id="arenaGrid_" data-sortable-columns="{&quot;caption&quot;:{&quot;name&quot;:&quot;caption&quot;,&quot;index&quot;:0,&quot;caption&quot;:&quot;Arena title&quot;},&quot;capacity&quot;:{&quot;name&quot;:&quot;capacity&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Capacity&quot;},&quot;about&quot;:{&quot;name&quot;:&quot;about&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;About&quot;},&quot;logo&quot;:{&quot;name&quot;:&quot;logo&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Logo&quot;},&quot;photo&quot;:{&quot;name&quot;:&quot;photo&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Photo&quot;}}" id="arenaGrid_631a68cdf2628">
						<div class="addition-block js-actions">
							<div class="btn-toolbar addition-block-left pull-left">						
								<div class="btn-group">
									<a class="btn btn-default pgui-add" routerLink="/menu/arenas/add" title="Add new arena">
										<i class="icon-plus"></i>
										<span class="visible-lg-inline">Add new</span>
									</a>
								</div>
								<div class="btn-group">
									<a class="btn btn-default" title="Refresh"><i class="icon-page-refresh"></i> <span class="visible-lg-inline">Refresh</span></a>
								</div>
								<div class="btn-group export-button">
									<div class="btn-group">
										<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="visible-lg-inline">Export</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
											</li>
											<li>
												<a><i class="icon-export-excel"></i> Export to Excel</a>
											</li>
											<li>
												<a><i class="icon-export-word"></i> Export to Word</a>
											</li>
											<li>
												<a><i class="icon-export-xml"></i> Export to Xml</a>
											</li>
											<li>
												<a><i class="icon-export-csv"></i> Export to Csv</a>
											</li>
										</ul>
									</div>
									<div class="btn-group">
										<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print"><i class="icon-print-page"></i> <span class="visible-lg-inline">Print</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<a target="_blank"><i class="icon-print-page"></i> Print current page</a>
											</li>
											<li>
												<a target="_blank"><i class="icon-print-page"></i> Print all pages</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="btn-group js-selection-actions-container fade" style="display: none">
									<div class="btn-group">
										<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs"><span class="js-count">0</span> item(s) selected</span> <span class="js-count visible-xs-inline">0</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a class="js-action" data-type="clear">Clear</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown dropdown-sub-menu">
												<a>Selection filter</a>
												<ul class="dropdown-menu sub-menu">
													<li>
														<a class="js-action" data-condition="selected" data-type="select" data-url="arenas.php">Show selected only</a>
													</li>
													<li class="divider"></li>
													<li>
														<a class="js-action" data-condition="unselected" data-type="select" data-url="arenas.php">Show unselected only</a>
													</li>
													<li class="divider"></li>
													<li>
														<a class="js-action" data-condition="all" data-type="select" data-url="arenas.php">Show all</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li class="dropdown dropdown-sub-menu">
												<a>Export</a>
												<ul class="dropdown-menu sub-menu">
													<li>
														<a class="js-action" data-export-type="pdf" data-type="export" data-url="arenas.php" target="_blank">Export to Pdf</a>
													</li>
													<li>
														<a class="js-action" data-export-type="excel" data-type="export" data-url="arenas.php">Export to Excel</a>
													</li>
													<li>
														<a class="js-action" data-export-type="word" data-type="export" data-url="arenas.php">Export to Word</a>
													</li>
													<li>
														<a class="js-action" data-export-type="xml" data-type="export" data-url="arenas.php">Export to Xml</a>
													</li>
													<li>
														<a class="js-action" data-export-type="csv" data-type="export" data-url="arenas.php">Export to Csv</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="print" data-url="arenas.php" target="_blank">Print</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="addition-block-right pull-right">
								<div class="btn-group">
									<button class="btn btn-default js-filter-builder-open" title="Edit filter" type="button"><i class="icon-filter-alt"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" data-target="#multiple-sorting-arenaGrid_631a68cdf2628" data-toggle="modal" id="multi-sort-arenaGrid_631a68cdf2628" title="Sort"><i class="icon-sort"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" data-target="#page-settings" data-toggle="modal" (click)="switchTableCard()" title="Page settings"><i class="icon-settings"></i></button>
								</div>
							</div>
							<div class="addition-block-right pull-right js-quick-filter">
								<div class="quick-filter-toolbar btn-group">
									<div class="input-group js-filter-control">
										<input class="js-input form-control" name="quick_filter" [(ngModel)]="searchTerm" (input)="searchArena($event.target)" placeholder="Quick search" size="16" type="text" value="">
										<div class="input-group-btn dropdown dropdown-lg">
											<button aria-expanded="false" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="toggle-dropdown" type="button"><span class="caret"></span></button>
											<div class="dropdown-menu dropdown-menu-right" role="menu">
												<form class="form-horizontal quick-filter">
													<div class="form-group form-group-sm">
														<label class="control-label" for="quick-filter-fields">Columns</label>
														<div class="col-input input-group-sm" data-column="quick_filter_fields" style="width:100%;max-width:100%">
															<select class="form-control" data-editor="multivalue_select" data-max-selection-size="0" data-placeholder="All" id="quick-filter-fields" multiple name="quick_filter_fields[]">
																<option value="caption">
																	Arena title
																</option>
																<option value="logo">
																	Logo
																</option>
																<option value="about">
																	About
																</option>
																<option value="photo">
																	Photo
																</option>
																<option value="capacity">
																	Capacity
																</option>
															</select>
														</div>
													</div>
													<div class="form-group form-group-sm">
														<label class="control-label" for="quick-filter-operator">Search condition</label>
														<div class="col-input input-group-sm" data-column="quick_filter_operator" style="width:100%;max-width:100%">
															<select class="form-control" id="quick-filter-operator" name="quick_filter_operator">
																<option selected value="Contains">
																	Contains
																</option>
																<option value="BeginsWith">
																	Begins with
																</option>
																<option value="EndsWith">
																	Ends with
																</option>
																<option value="Equals">
																	Equals
																</option>
																<option value="DoesNotContain">
																	Does not contain
																</option>
																<option value="DoesNotEqual">
																	Does not equal
																</option>
															</select>
														</div>
													</div>
													<hr class="quick-filter-separator">
													<span class="pull-right"><button class="js-cancel btn btn-sm btn-default" type="button"><span class="pull-right">Cancel</span> <button class="js-submit btn btn-sm btn-primary" type="button">Apply</button></button></span>
												</form>
											</div>
											<button class="btn btn-default js-reset" (click)="resetSearch()" title="Clear" type="button"><i class="icon-filter-reset"></i></button>
										</div>
									</div>
								</div><span class="hidden-xs">&thinsp;</span>
							</div>
						</div>
						<div class="filter-status js-filter-status"></div>
						<div class="js-grid-message-container"></div>
						<ng-container *ngIf="(typeViewshow$ | async) ===''  || (typeViewshow$ | async) ==='Grid' ; else viewCard">
						<table class="table text-center table-striped">
							<thead class="js-column-filter-container">
								<tr>
									<th class="row-selection" rowspan="1" style="width:1%;"><input type="checkbox"></th>
									<th rowspan="1" style="width:1%;">Actions</th>
									<th class=" sortable" colspan="1" data-column-name="caption" data-field-caption="Arena title" data-field-name="caption" data-name="caption" data-sort-index="0" data-sort-order="asc" rowspan="1">
										<span>Arena title</span>
										<a class="column-filter-trigger js-filter-trigger" (click)="sortByTitle()" title="Arena Title">
											<i [className]="sortbytitle"></i>
										</a>
									</th>
									<th class=" sortable" colspan="1" data-column-name="capacity" data-field-caption="Capacity" data-field-name="capacity" data-name="capacity" data-sort-index="" rowspan="1"><span>Capacity</span></th>
									<th class="hidden-xs hidden-sm hidden-md sortable" colspan="1" data-column-name="about" data-field-caption="About" data-field-name="about" data-name="about" data-sort-index="" rowspan="1" style="width: 450px;"><span>About</span></th>
									<th class="hidden-xs sortable" colspan="1" data-column-name="logo" data-field-caption="Logo" data-field-name="logo" data-name="logo" data-sort-index="" rowspan="1"><span>Logo</span></th>
									<th class="hidden-xs hidden-sm sortable" colspan="1" data-column-name="photo" data-field-caption="Photo" data-field-name="photo" data-name="photo" data-sort-index="" rowspan="1"><span>Photo</span></th>
								</tr>
							</thead>
							<tbody class="pg-row-list">
								<ng-template ngFor let-arena [ngForOf]="arenasList$ | async" let-i="index">
									<tr class="pg-row">
										<td>
											<div class="row-selection">
												<input data-value="[&quot;11&quot;]" id="record__11" name="rec0" type="checkbox">
											</div>
										</td>
										<td class="operation-column">
											<span class="operation-item" data-column-name="view">
												<a class="link-icon" routerLink="/menu/arenas/{{arena.id}}" title="View" class="link-icon">
												<i class="icon-view"></i></a>
											</span>
											<span data-column-name="edit" class="operation-item">            
												<a routerLink="/menu/arenas/edit/{{arena.id}}" title="Edit" class="link-icon">
												<i class="icon-edit"></i></a>
											</span>
											<span data-column-name="delete" class="operation-item">            
												<a (click)="delete(arena.id)" title="Delete" class="link-icon new_hover">
												<i class="icon-remove"></i>	</a>
											</span>
										</td>
										<td data-column-name="caption" data-edit-url="">
											<a target="">{{ arena?.arenaTitle }}</a>
										</td>
										<td data-column-name="capacity" data-edit-url="">{{ arena?.Capacity }}</td>
										<td class="hidden-xs hidden-sm hidden-md" [innerHTML]="arena?.About | noSanitize" data-column-name="about" data-edit-url="">
										</td>
										<td class="hidden-xs" data-column-name="logo" data-edit-url="">
											<a class="image gallery-item" data-name="logo"  href="{{ arena?.Logo }}"  title="{{ arena?.arenaTitle }}">
												<img alt="{{ arena?.arenaTitle }}" data-image-column="true" src="{{ arena?.Logo }}" style="width: 100px">
											</a>
										</td>
										<td class="hidden-xs hidden-sm" data-column-name="photo" data-edit-url="">
											<a class="image gallery-item" data-name="photo" href="{{ arena?.Photo}}" title="{{ arena?.arenaTitle }}">
												<img alt="{{ arena?.arenaTitle }}" data-image-column="true" src="{{ arena?.Photo}}" style="width: 100px">
											</a>
										</td>
									</tr>
								</ng-template>								
							</tbody>
							<tfoot></tfoot>
						</table>							
						</ng-container>
						<ng-template #viewCard>
							<div class="row">
								<div class="table-striped col-md-12">
									<div class="alert alert-warning empty-grid hidden">
										There are no records to display
									</div>
									<div class="pg-row-list row">
										<ng-template ngFor let-arena [ngForOf]="arenasList$ | async" let-i="index">
										<div class="grid-card-item col-lg-4 col-md-4 col-sm-6 col-xs-12 pg-row">
											<div class="well" style="">
												<div class="grid-card-item-control pull-right">
													<div class="operation-column pull-left">
														<span class="operation-item" data-column-name="view">
															<a class="link-icon" routerLink="/menu/arenas/{{arena.id}}" title="View">
																<i class="icon-view"></i>
															</a>
														</span> 
														<span class="operation-item" data-column-name="edit">
															<a class="link-icon" routerLink="/menu/arenas/edit/{{arena.id}}"  title="Edit">
																<i class="icon-edit"></i>
															</a>
														</span> 
														<span class="operation-item" data-column-name="delete">
															<a class="link-icon" (click)="delete(arena.id)" title="Delete">
																<i class="icon-remove"></i>
															</a>
														</span>
													</div>
												</div>
												<div class="grid-card-item-data">
													<table class="table">
														<tr>
															<th>Arena title</th>
															<td data-column-name="caption" data-edit-url="">
																<a target="">{{ arena?.arenaTitle }}</a>
															</td>
														</tr>
														<tr>
															<th>Capacity</th>
															<td data-column-name="capacity" data-edit-url="">{{ arena?.Capacity }}</td>
														</tr>
														<tr>
															<th>About</th>
															<td data-column-name="about" [innerHTML]="arena?.About | noSanitize" data-edit-url=""></td>
														</tr>
														<tr>
															<th>Logo</th>
															<td data-column-name="logo" data-edit-url="">
																<a class="image gallery-item" data-name="logo"  href="{{ arena?.Logo }}"  title="{{ arena?.arenaTitle }}">
																	<img alt="{{ arena?.arenaTitle }}" data-image-column="true" src="{{ arena?.Logo }}" style="width: 100px">
																</a>
															</td>
														</tr>
														<tr>
															<th>Photo</th>
															<td data-column-name="photo" data-edit-url="">
																<a class="image gallery-item" data-name="photo"  href="{{ arena?.Photo}}" title="{{ arena?.arenaTitle }}">
																	<img alt="{{ arena?.arenaTitle }}" data-image-column="true" src="{{ arena?.Photo}}" style="width: 100px">
																</a>
															</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
										</ng-template>
									</div>				
								</div>
							</div>
						</ng-template>
					</div>	
					<hr>
     			<app-footer></app-footer>
				</div>
			</div>
		</div>
</div>
	
