	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div class="page-header">
						<ol class="breadcrumb pgui-breadcrumb">
							<li>
								<a><i class="icon-home"></i></a>
							</li>
							<li class="dropdown">
								<a>Games</a>
							</li>
							<li class="dropdown">Regular season games <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown"><span class="caret"></span></button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a>Playoff bracket</a>
									</li>
								</ul>
							</li>
						</ol>
						<h1>Regular season games</h1>
					</div>

					<div id="chart">
						<apx-chart
						  [series]="chartOptions.series"
						  [chart]="chartOptions.chart"
						  [dataLabels]="chartOptions.dataLabels"
						  [plotOptions]="chartOptions.plotOptions"
						  [yaxis]="chartOptions.yaxis"
						  [fill]="chartOptions.fill"
						  [stroke]="chartOptions.stroke"
						  [tooltip]="chartOptions.tooltip"
						  [xaxis]="chartOptions.xaxis"
						></apx-chart>
					  </div>
				
					<div class="well description">
						<a class="close"><span aria-hidden="true">&times;</span></a>
						<p>This page displays the list of games played during the 2013-2014 NBA regular season and demonstrates such software features as charts, embedded videos, data partitioning, custom filters, auto hidden columns, user-defined templates, and more. It should (as well as all other pages) look good on any device with a screen with 480+ pixels of width (if you are on a desktop, reduce the size of the browser window to be sure).</p>
						<nav>
							<ul class="pager">
								<li class="next">
									<a routerLink="/menu/playoff">Playoff Bracket <span aria-hidden="true">&rarr;</span></a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="grid grid-table js-grid" data-column-count="10" data-grid-hidden-values="[]" data-is-master="" data-selection-id="game_listGrid_" id="game_listGrid_6356e2cde776e">
						<div class="addition-block js-actions">
							<div class="btn-toolbar addition-block-left pull-left">
								<div class="btn-group">
									<a class="btn btn-default pgui-add" title="Add new"><i class="icon-plus"></i> <span class="visible-lg-inline">Add new</span></a>
								</div>
								<div class="btn-group">
									<a class="btn btn-default" title="Refresh"><i class="icon-page-refresh"></i> <span class="visible-lg-inline">Refresh</span></a>
								</div>
								<div class="btn-group export-button">
									<div class="btn-group">
										<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="visible-lg-inline">Export</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
											</li>
											<li>
												<a><i class="icon-export-excel"></i> Export to Excel</a>
											</li>
											<li>
												<a><i class="icon-export-word"></i> Export to Word</a>
											</li>
											<li>
												<a><i class="icon-export-xml"></i> Export to Xml</a>
											</li>
											<li>
												<a><i class="icon-export-csv"></i> Export to Csv</a>
											</li>
										</ul>
									</div>
									<div class="btn-group">
										<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print"><i class="icon-print-page"></i> <span class="visible-lg-inline">Print</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<a target="_blank"><i class="icon-print-page"></i> Print current page</a>
											</li>
											<li>
												<a target="_blank"><i class="icon-print-page"></i> Print all pages</a>
											</li>
										</ul>
									</div><a class="btn btn-default" title="RSS"><i class="icon-rss"></i> <span class="visible-lg-inline">RSS</span></a>
								</div>
								<div class="btn-group js-selection-actions-container fade" style="display: none">
									<div class="btn-group">
										<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs"><span class="js-count">0</span> item(s) selected</span> <span class="js-count visible-xs-inline">0</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a class="js-action" data-type="clear">Clear</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown dropdown-sub-menu">
												<a>Selection filter</a>
												<ul class="dropdown-menu sub-menu">
													<li>
														<a class="js-action" data-condition="selected" data-type="select">Show selected only</a>
													</li>
													<li class="divider"></li>
													<li>
														<a class="js-action" data-condition="unselected" data-type="select">Show unselected only</a>
													</li>
													<li class="divider"></li>
													<li>
														<a class="js-action" data-condition="all" data-type="select">Show all</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li class="dropdown dropdown-sub-menu">
												<a>Export</a>
												<ul class="dropdown-menu sub-menu">
													<li>
														<a class="js-action" data-export-type="pdf" data-type="export" target="_blank">Export to Pdf</a>
													</li>
													<li>
														<a class="js-action" data-export-type="excel" data-type="export">Export to Excel</a>
													</li>
													<li>
														<a class="js-action" data-export-type="word" data-type="export">Export to Word</a>
													</li>
													<li>
														<a class="js-action" data-export-type="xml" data-type="export">Export to Xml</a>
													</li>
													<li>
														<a class="js-action" data-export-type="csv" data-type="export">Export to Csv</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="print" target="_blank">Print</a>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="update">Update</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="addition-block-right pull-right">
								<div class="btn-group">
									<button class="btn btn-default js-filter-builder-open" title="Edit filter" type="button"><i class="icon-filter-alt"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" data-target="#multiple-sorting-game_listGrid_6356e2cde776e" data-toggle="modal" id="multi-sort-game_listGrid_6356e2cde776e" title="Sort"><i class="icon-sort"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" (click)="infoDialog()" data-target="#detailedDescriptionModal" data-toggle="modal" title="Page description" type="button">
										<i class="icon-question"></i>
									</button>
								</div>
								<div class="modal fade" id="detailedDescriptionModal" role="dialog" tabindex="-1">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-body">
												<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> Hi, I am a detailed description of the page. My big advantage is that I can contain as many lines as you need without taking up space on the page.
											</div>
											<div class="modal-footer">
												<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="addition-block-right pull-right js-quick-filter">
								<div class="quick-filter-toolbar btn-group">
									<div class="input-group js-filter-control">
										<input class="js-input form-control" name="quick_filter" [(ngModel)]="searchTerm" (input)="searchRegularSeasonGames($event.target)" placeholder="Quick search" size="16" type="text" value="">
										<div class="input-group-btn dropdown dropdown-lg">
											<button aria-expanded="false" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="toggle-dropdown" type="button"><span class="caret"></span></button>
											<div class="dropdown-menu dropdown-menu-right" role="menu">
												<form class="form-horizontal quick-filter">
													<div class="form-group form-group-sm">
														<label class="control-label" for="quick-filter-fields">Columns</label>
														<div class="col-input input-group-sm" data-column="quick_filter_fields" style="width:100%;max-width:100%">
															<select class="form-control" data-editor="multivalue_select" data-max-selection-size="0" data-placeholder="All" id="quick-filter-fields" multiple name="quick_filter_fields[]">
																<option value="game_date">
																	Game Date
																</option>
																<option value="home_team_id">
																	Home team
																</option>
																<option value="away_team_id">
																	Away team
																</option>
																<option value="recap">
																	Recap
																</option>
																<option value="home_team_score">
																	Home Team Score
																</option>
																<option value="away_team_score">
																	Away Team Score
																</option>
																<option value="overtime_count">
																	Overtime Count
																</option>
															</select>
														</div>
													</div>
													<div class="form-group form-group-sm">
														<label class="control-label" for="quick-filter-operator">Search condition</label>
														<div class="col-input input-group-sm" data-column="quick_filter_operator" style="width:100%;max-width:100%">
															<select class="form-control" id="quick-filter-operator" name="quick_filter_operator">
																<option selected value="Contains">
																	Contains
																</option>
																<option value="BeginsWith">
																	Begins with
																</option>
																<option value="EndsWith">
																	Ends with
																</option>
																<option value="Equals">
																	Equals
																</option>
																<option value="DoesNotContain">
																	Does not contain
																</option>
																<option value="DoesNotEqual">
																	Does not equal
																</option>
															</select>
														</div>
													</div>
													<hr class="quick-filter-separator">
													<span class="pull-right">
														<button class="js-cancel btn btn-sm btn-default" type="button">
															<span class="pull-right"><span class="pull-right">Cancel</span> 
																<button class="js-submit btn btn-sm btn-primary" type="button">Apply</button>
															</span>
														</button>
												</span>
												</form>
											</div>
											
											<button class="btn btn-default js-reset" title="Clear" (click)="resetSearch()" type="button">
												<i class="icon-filter-reset"></i>
											</button>
										</div>
									</div>
								</div><span class="hidden-xs">&thinsp;</span>
							</div>
						</div>
						<div class="filter-status js-filter-status"></div>
						<div class="js-grid-message-container"></div>
						<table class="table text-center table-striped table-hover">
							<thead class="js-column-filter-container header-bordered" data-has-groups="true">
								<tr>
									<th class="row-selection" rowspan="2" style="width:1%;"><input type="checkbox"></th>
									<th class="details" rowspan="2">
										<a [className]="allElementsString"  (click)="allElements()" title="Show/hide all details">
											<i class="icon-detail-plus"></i> 
											<i class="icon-detail-minus"></i>
										</a>
									</th>
									<th rowspan="2" class="hidden-xs hidden-sm hidden-md" style="width:1%;">Actions</th>
									<th class="hidden-xs sortable filterable" colspan="1" data-column-name="game_date" data-field-caption="Game Date" data-field-name="game_date" data-name="game_date" data-sort-index="0" data-sort-order="asc" rowspan="2">
										<span>Game Date</span><i class="icon-sort-asc"></i><a class="column-filter-trigger js-filter-trigger" title=""><i class="icon-filter"></i></a>
									</th>
									<th class="js-column-group" colspan="2" data-visibility="{&quot;1&quot;:2,&quot;2&quot;:2,&quot;3&quot;:2,&quot;4&quot;:2}" rowspan="1"><span>Home</span></th>
									<th class="js-column-group" colspan="2" data-visibility="{&quot;1&quot;:2,&quot;2&quot;:2,&quot;3&quot;:2,&quot;4&quot;:2}" rowspan="1"><span>Away</span></th>
									<th class="hidden-xs hidden-sm hidden-md sortable filterable" colspan="1" data-column-name="overtime_count" data-comment="Number of overtimes in the game" data-field-caption="Overtimes" data-field-name="overtime_count" data-name="overtime_count" data-sort-index="" rowspan="2">
										<span class="commented">Overtimes</span><a class="column-filter-trigger js-filter-trigger" title=""><i class="icon-filter"></i></a>
									</th>
									<th class="hidden-xs hidden-sm sortable" colspan="1" data-column-name="recap" data-field-caption="Recap" data-field-name="recap" data-name="recap" data-sort-index="" rowspan="2"><span>Recap</span></th>
								</tr>
								<tr>
									<th class=" sortable filterable" colspan="1" data-column-name="home_team_id_caption" data-field-caption="Team" data-field-name="home_team_id_caption" data-name="home_team_id" data-sort-index="1" data-sort-order="asc" rowspan="1">
										<span>Team</span><i class="icon-sort-asc"></i><a class="column-filter-trigger js-filter-trigger" title=""><i class="icon-filter"></i></a>
									</th>
									<th class=" sortable filterable" colspan="1" data-column-name="home_team_score" data-field-caption="Score" data-field-name="home_team_score" data-name="home_team_score" data-sort-index="" rowspan="1">
										<span>Score</span><a class="column-filter-trigger js-filter-trigger" title=""><i class="icon-filter"></i></a>
									</th>
									<th class=" sortable filterable" colspan="1" data-column-name="away_team_score" data-field-caption="Score" data-field-name="away_team_score" data-name="away_team_score" data-sort-index="" rowspan="1">
										<span>Score</span><a class="column-filter-trigger js-filter-trigger" title=""><i class="icon-filter"></i></a>
									</th>
									<th class=" sortable filterable" colspan="1" data-column-name="away_team_id_caption" data-field-caption="Team" data-field-name="away_team_id_caption" data-name="away_team_id" data-sort-index="" rowspan="1">
										<span>Team</span><a class="column-filter-trigger js-filter-trigger" title=""><i class="icon-filter"></i></a>
									</th>
								</tr>
							</thead>
							<tbody class="pg-row-list">
								<ng-template ngFor let-regularseasongamesList [ngForOf]="regularseasongamesList$ | async" let-i="index">
									<tr class="pg-row">
										<td>
											<div class="row-selection">
												<input data-value="[&quot;1320&quot;]" id="record__1320" name="rec0" type="checkbox">
											</div>
										</td>
										<td class="details" dir="ltr" style="width: 40px;">
											<div class="btn-group text-nowrap">
												<a [className]="setClass(selectedData,regularseasongamesList.id)" (click)="modelChangeFn(regularseasongamesList?.id)" title="Show/hide details">
													<i class="icon-detail-plus"></i>
													<i class="icon-detail-minus"></i>
												</a>
												<ul class="dropdown-menu">
													<li>
														<a>Quarters</a>
													</li>
												</ul>
											</div>
										</td>
										<td class="hidden-xs hidden-sm hidden-md operation-column">								
											<span class="operation-item" data-column-name="epdf_record">
												<a class="link-icon" target="_blank" title="Export to Pdf">
													<i class="icon-file-pdf"></i>
												</a>
											</span>
										</td>
										<td class="pgui-cell-edit" data-column-name="game_date">{{regularseasongamesList?.gamedate}}</td>
										<td class="pgui-cell-edit" data-column-name="home_team_id">
											{{regularseasongamesList?.teamhome}}
										</td>
										<td class="win-score" data-column-name="home_team_score" data-edit-url="">{{regularseasongamesList?.scorehome}}</td>
										<td class="loss-score" data-column-name="away_team_score" data-edit-url="">{{regularseasongamesList?.scoreaway}}</td>
										<td class=" pgui-cell-edit" data-column-name="away_team_id">
											<a data-modal-operation="view">
												<span class="team-caption">{{regularseasongamesList?.teamaway}}</span>
											</a>
										</td>
										<td class="hidden-xs hidden-sm" data-column-name="overtime_count" data-edit-url="">{{regularseasongamesList?.overtimes}}</td>
										<td class="hidden-xs hidden-sm pgui-cell-edit" data-column-name="recap">
											<div class="pgui-field-embedded-video">
												<img class="pgui-field-embedded-video-thumb" src="{{regularseasongamesList?.recap}}">
												<span class="pgui-field-embedded-video-icon icon-play"></span>
											</div>
										</td>
									</tr>
									<tr class="grid-details grid-details-table detail" [ngStyle]="{'display': setClassDetail(selectedDataDetail,regularseasongamesList.id)}">
										<td class="js-content" colspan="10">
											<button class="close js-close" type="button">×</button>
											<div class="grid-details-loading js-loading" style="display: none;"><img src="../../../assets/css/img/loading.gif"></div>
											<div>
												<ul class="nav nav-tabs grid-details-tabs">
													<li class="active">
														<a data-toggle="tab">Quarters</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane active" id="detail-8505910847686956">
														<p>Showing first 4 of 4 records (full view</p>
														<div class="grid grid-table js-grid" data-column-count="5" data-is-master="" data-selection-id="game_list_game_quarterGrid_1320" data-sortable-columns="[]" id="game_list_game_quarterGrid_6356e96ec5492">
															<div class="addition-block js-actions">
																<div class="btn-toolbar addition-block-left pull-left">
																	<div class="btn-group export-button">
																		<div class="btn-group">
																			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="visible-lg-inline">Export</span> <span class="caret"></span></a>
																			<ul class="dropdown-menu">
																				<li>
																					<a target="_blank"><i class="icon-export-pdf"></i> Export to Pdf</a>
																				</li>
																				<li>
																					<a><i class="icon-export-excel"></i> Export to Excel</a>
																				</li>
																				<li>
																					<a><i class="icon-export-word"></i> Export to Word</a>
																				</li>
																				<li>
																					<a><i class="icon-export-xml"></i> Export to Xml</a>
																				</li>
																				<li>
																					<a><i class="icon-export-csv"></i> Export to Csv</a>
																				</li>
																			</ul>
																		</div>
																		<div class="btn-group">
																			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print"><i class="icon-print-page"></i> <span class="visible-lg-inline">Print</span> <span class="caret"></span></a>
																			<ul class="dropdown-menu">
																				<li>
																					<a target="_blank"><i class="icon-print-page"></i> Print current page</a>
																				</li>
																				<li>
																					<a target="_blank"><i class="icon-print-page"></i> Print all pages</a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<div class="btn-group js-selection-actions-container fade" style="display: none">
																		<div class="btn-group">
																			<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs"><span class="js-count">0</span> item(s) selected</span> <span class="js-count visible-xs-inline">0</span> <span class="caret"></span></button>
																			<ul class="dropdown-menu">
																				<li>
																					<a class="js-action" data-type="clear">Clear</a>
																				</li>
																				<li class="divider"></li>
																				<li class="dropdown dropdown-sub-menu">
																					<a>Selection filter</a>
																					<ul class="dropdown-menu sub-menu">
																						<li>
																							<a class="js-action" data-condition="selected" data-type="select">Show selected only</a>
																						</li>
																						<li class="divider"></li>
																						<li>
																							<a class="js-action" data-condition="unselected" data-type="select">Show unselected only</a>
																						</li>
																						<li class="divider"></li>
																						<li>
																							<a class="js-action" data-condition="all" data-type="select">Show all</a>
																						</li>
																					</ul>
																				</li>
																				<li class="divider"></li>
																				<li class="dropdown dropdown-sub-menu">
																					<a>Export</a>
																					<ul class="dropdown-menu sub-menu">
																						<li>
																							<a class="js-action" data-export-type="pdf" data-type="export" target="_blank">Export to Pdf</a>
																						</li>
																						<li>
																							<a class="js-action" data-export-type="excel" data-type="export">Export to Excel</a>
																						</li>
																						<li>
																							<a class="js-action" data-export-type="word" data-type="export">Export to Word</a>
																						</li>
																						<li>
																							<a class="js-action" data-export-type="xml" data-type="export">Export to Xml</a>
																						</li>
																						<li>
																							<a class="js-action" data-export-type="csv" data-type="export">Export to Csv</a>
																						</li>
																					</ul>
																				</li>
																				<li class="divider"></li>
																				<li>
																					<a class="js-action" data-type="print" target="_blank">Print</a>
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
															<div class="js-grid-message-container"></div>
															<table class="table text-center table-striped">
																<thead class="js-column-filter-container">
																	<tr>
																		<th class="row-selection" rowspan="1" style="width:1%;"><input type="checkbox"></th>
																		<th class="hidden-xs hidden-sm" rowspan="1" style="width:1%;">Actions</th>
																		<th class="" colspan="1" data-column-name="quarter_id_caption" data-field-caption="Quarter" data-field-name="quarter_id_caption" data-name="quarter_id" data-sort-index="" rowspan="1"><span>Quarter</span></th>
																		<th class="" colspan="1" data-column-name="home_team_score" data-field-caption="Home Score" data-field-name="home_team_score" data-name="home_team_score" data-sort-index="" rowspan="1"><span>Home Score</span></th>
																		<th class="" colspan="1" data-column-name="away_team_score" data-field-caption="Away Score" data-field-name="away_team_score" data-name="away_team_score" data-sort-index="" rowspan="1"><span>Away Score</span></th>
																	</tr>
																</thead>
																<tbody class="pg-row-list">
																	<ng-template ngFor let-detail [ngForOf]="regularseasongamesList.detail" let-j="index">
																		<tr class="pg-row">
																			<td>
																				<div class="row-selection">
																					<input data-value="[&quot;1320&quot;,&quot;1&quot;]" id="record__1320_1" name="rec0" type="checkbox">
																				</div>
																			</td>
																			<td class="hidden-xs hidden-sm operation-column">
																				<span class="operation-item" data-column-name="view">
																					<a class="link-icon" title="View">
																						<i class="icon-view"></i>
																					</a>
																				</span>
																			</td>
																			<td data-column-name="quarter_id" data-edit-url="">{{detail?.Quarter}}</td>
																			<td data-column-name="home_team_score" data-edit-url="" style="font-weight: bold;">{{detail?.homescore}}</td>
																			<td data-column-name="away_team_score" data-edit-url="">{{detail?.awayscore}}</td>
																		</tr>
																	</ng-template>																	
																</tbody>
																<tfoot></tfoot>
															</table>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</ng-template>
							</tbody>
							<tfoot></tfoot>
						</table>
					</div><!-- <Pages> -->
					<hr>
				</div>
			</div>
		</div>
	</div>