<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" href="#">
                <img alt="NBA Database" src="../../assets/css/img/nba_logo.png"> 
                <strong class="hidden-xs hidden-sm">NBA Database</strong>
            </div> 
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-padding">
                <h1 class="text-center">Welcome to the Angular NBA demo!</h1>
                <p class="lead text-center">It is application that uses redux, ngrx and rxjs, try to make best practices .</p>
                <div class="well pgui-login">
                    <p class="text-center"><img alt="User avatar" class="pgui-login-avatar" src="../../assets/css/img/login_avatar.png"></p>
                    <form [formGroup]="formLogin">
                        <div class="form-group">
                            <app-input-custom [data]="''" formControlName="username" [placeholder]="'username'"></app-input-custom>
                        </div>
                        <div class="form-group">
                            <app-input-custom [data]="''" formControlName="password" [placeholder]="'password'" [type]="'password'" ></app-input-custom>
                        </div>
                        <div class="alert alert-danger" *ngIf="(errorShow$ | async)">
                            The username/password combination you entered was invalid.
                        </div>             
                        <div class="form-group text-center">
                            <div class="btn-group">
                                <button class="btn btn-primary" (click)="login()" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Available demo users</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>admin@admin.com</td>
                                    <td>admin</td>
                                    <td>User demo to login to the application</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <footer>
                    <p>&copy; <span class="copyright">2022
                    </span> 
                    <a href="https://github.com/jeffersoxcdfgt/ngrx-app-good-approch" target="_blank">Git hub project</a>
                    <a class="link-icon" href="https://github.com/jeffersoxcdfgt/ngrx-app-good-approch"target="_blank">
                        <i class="icongithub-iconmonstr-github"></i>
                    </a>
                   </p>
                    <p>Created with <a href="https://www.linkedin.com/in/jefferson-medina-abab2759" target="_blank">Jefferson Jose Medina cedeno</a>. Want to learn more? <a href="https://www.linkedin.com/in/jefferson-medina-abab2759" target="_blank">Download the demo project!</a></p>
                </footer>
            </div>
        </div>
    </div>
</div>
