<footer>
    <p>&copy; <span class="copyright">2022
    </span> 
    <a href="https://github.com/jeffersoxcdfgt/ngrx-app-good-approch" target="_blank">Git hub project</a>
    <a class="link-icon" href="https://github.com/jeffersoxcdfgt/ngrx-app-good-approch"target="_blank">
        <i class="icongithub-iconmonstr-github"></i>
    </a>
   </p>
    <p>Created by <a href="https://www.linkedin.com/in/jefferson-medina-abab2759" target="_blank">Jefferson Jose Medina cedeno</a>. Want to learn more? <a href="https://www.linkedin.com/in/jefferson-medina-abab2759" target="_blank">Download the demo project!</a></p>
</footer>