<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/menu/home">
                <img alt="NBA Database" src="../../assets/css/img/nba_logo.png"> 
                <strong class="hidden-xs hidden-sm">NBA Database</strong>
            </a> 
        </div>
        <div class="navbar-collapse collapse" id="navnav">
            <ul class="nav navbar-nav navbar-right" id="nav-menu">
                <li>
                    <a  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options button">                                 
                        {{userData$ | async | nullObjectToConvert:'email' }}
                        <mat-icon style="position: relative;top: 5px;">expand_more</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="logout()">
                              <mat-icon >power_settings_new</mat-icon>
                              <span>Logout</span>
                            </button>
                        </mat-menu>
                    </a>
                 
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>