<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <img alt="NBA Database" src="../../assets/css/img/nba_logo.png"> 
                <strong class="hidden-xs hidden-sm">NBA Database</strong>
            </div> 
        </div>
        <div class="navbar-collapse collapse" id="navnav">
            <ul class="nav navbar-nav navbar-right" id="nav-menu">
                <li>
                    <a>                                 
                        {{userData$ | async | nullObjectToConvert:'email' }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>